.lead__image-caption{
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    padding-top: 8px;
}
@media screen and (max-width:1023px) {
    .lead__image-caption{
        padding-left: 24px;
    }
}

@media screen and (max-width:767px) {
    .lead__image-caption{
        padding-left: 16px;
    }
}