<<<<<<< HEAD
.lead{
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

@media screen and (max-width: 1023px){
    .lead{
        padding: 0;
    }
=======
.lead{
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

@media screen and (max-width: 1023px){
    .lead{
        padding: 0;
    }
>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}