<<<<<<< HEAD
.menu__copyright{
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}
.menu__copyright:hover{
    opacity: 0.6;
=======
.menu__copyright{
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}
.menu__copyright:hover{
    opacity: 0.6;
>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}