<<<<<<< HEAD
.intro__list-counter{
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
=======
.intro__list-counter{
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}