.cover__overlay{

    display: block;
    width: 100%;
    padding: 20.6% 0;
    position: relative;
    text-decoration: none;
    background-color:  rgba(42, 44, 47, 0.3);
}
@media screen and (max-width: 1279px){
    .cover__overlay{
        padding: 19% 0;
    }
}
@media screen and (max-width: 1023px){
    .cover__overlay{
        padding: 14.9% 0;
    }
}
@media screen and (max-width: 767px){
    .cover__overlay{
        padding: 10.3% 0;
    }
}
.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}