.popup__container{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 430px;
    position: relative;
    padding: 34px 36px 37px;
}
@media screen and (max-width:767px){
    .popup__container{
        width: 282px;
        padding: 25px 22px;
    }
}