<<<<<<< HEAD
.places{
    padding: 92px 48px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
@media screen and (max-width:1023px){
    .places{
        padding: 88px 24px;
        row-gap: 73px;
    }
}
@media screen and (max-width: 767px){
    .places{
        padding: 64px 0;
        row-gap: 50px;
    }

}

=======
.places{
    padding: 92px 48px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
@media screen and (max-width:1023px){
    .places{
        padding: 88px 24px;
        row-gap: 73px;
    }
}
@media screen and (max-width: 767px){
    .places{
        padding: 64px 0;
        row-gap: 50px;
    }

}

>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
