.footer {
    width: calc(100% - 96px);
    margin: 0 auto;
    padding: 88px 0 24px;
    max-width: 1184px;
}
@media screen and (max-width: 1023px){
    .footer{
        width: calc(100% - 48px);
    }
}
@media screen and (max-width: 767px){
    .footer{
        width: calc(100% - 32px);
        padding: 64px 0 24px;
    }
}