.profile__description{
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
}
@media screen and (max-width: 767px){
    .profile__description{
        max-width: 268px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}