.photo-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    justify-content: center;
    padding: 0 48px;

}
@media screen and (max-width:1279px){
    .photo-grid{
        grid-gap:14px;
    }
}
@media screen and (max-width:1023px){
    .photo-grid{
        grid-gap:16px;
        padding: 0 24px;
    }
}
@media screen and (max-width:767px){
    .photo-grid{
        grid-gap:12px;
        padding: 0 16px;
    }
}