.footer{
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    padding:67px 0 60px;
    flex-shrink: 0;
}
@media screen and (max-width: 767px){
    .footer{
        padding:48px 0 36px;
        width: calc(100% - 38px);
    }
}