.content{
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 898px){
    .content{
        width: calc(100% - 38px);
    }
}
