<<<<<<< HEAD
.lead__title{
    margin: 0 auto;
    max-width: 720px;
    color: white;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    padding: 56px 0 0;
}
@media screen and (max-width: 1279px){
    .lead__title{
        padding: 48px 0 0;
    }
}
@media screen and (max-width: 1023px){
    .lead__title{
        padding: 48px 24px 0;
    }
}

@media screen and (max-width: 767px){
    .lead__title{
        padding: 48px 16px 0;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
    }
=======
.lead__title{
    margin: 0 auto;
    max-width: 720px;
    color: white;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    padding: 56px 0 0;
}
@media screen and (max-width: 1279px){
    .lead__title{
        padding: 48px 0 0;
    }
}
@media screen and (max-width: 1023px){
    .lead__title{
        padding: 48px 24px 0;
    }
}

@media screen and (max-width: 767px){
    .lead__title{
        padding: 48px 16px 0;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
    }
>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}