.lead__subtitle{
    margin: 0 auto;
    padding: 32px 0 64px;
    color: white;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 640px;
    text-align: center;
}
@media screen and (max-width:1279px) {
    .lead__subtitle{
        padding: 32px 0 56px;
    }
}
@media screen and (max-width:767px) {
    .lead__subtitle{
        padding: 16px 16px 40px;
        font-size: 16px;
        line-height: 20px;
    }
}
