.cover__background {
    background-image: url(../../../images/cover__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1184px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

