.form__input{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
}
@media screen and (max-width: 767px){
    .form__input{
        padding-bottom: 9px;
    }
}
