.form__title{
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    padding-bottom:24px;
}
@media screen and (max-width: 767px){
    .form__title{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 43px;
    }
}