.profile{
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 120px max-content auto;

}
@media screen and (max-width: 767px){
    .profile{
        grid-template-columns: 282px;
        grid-template-rows: repeat(3, max-content);
        justify-content: center;
        justify-items: center;
    }

}