.place__website{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    max-width: 484px;
    align-self: end;
}
@media screen and (max-width: 767px) {
    .place__website {
        padding: 0 16px;

    }
}