.header__logo{
    width: 142px;
    height: 33px;
    padding: 45px 0 41px;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 767px ) {
    .header__logo{
        width: 104px;
        height: 24px;
        padding: 28px 27px 32px;
    }
}