.profile__add-btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    background-image: url(../../../images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    justify-self: end;
    align-self: center;
    cursor: pointer;
    border-radius: 2px;
}
@media screen and (max-width: 767px){
    .profile__add-btn{
        width: 282px;
    }
}
.profile__add-btn:hover{
    opacity: 0.6;
}