.cards-grid{
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(auto-fit, 361px);
    padding:48px 0  0;
    gap: 20px 17px;
    justify-items: center;
    justify-content: center;
}