<<<<<<< HEAD
.intro__list{
    margin: 0;
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
    padding: 0;

=======
.intro__list{
    margin: 0;
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
    padding: 0;

>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}