.khan__buy-link{
  text-decoration: none;
  padding-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity 0.3s;
  color: #2f80ed;
}
.khan__buy-link:hover{
  opacity: 0.6;
}

