<<<<<<< HEAD
.page {
    margin: 0;
    background-color: #2A2C2F;
    font-family: Inter, Arial, sans-serif;
=======
.page {
    margin: 0;
    background-color: #2A2C2F;
    font-family: Inter, Arial, sans-serif;
>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}