<<<<<<< HEAD
.place__text{
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
@media screen and (max-width: 767px) {
    .place__text {
        padding: 0 16px;
    }
=======
.place__text{
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
@media screen and (max-width: 767px) {
    .place__text {
        padding: 0 16px;
    }
>>>>>>> c490dc0c1b4d1c7936cea8d78720d922ed51bc0e
}