.place{
    display: grid;
    grid-template-columns:  460px 484px;
    gap: 48px 40px;
    justify-content: center;

}
@media screen and (max-width:1279px) {
    .place {
        grid-template-columns:  minmax(440px, 460px) minmax(456px, 484px);
        gap: 48px 32px;
    }
}
@media screen and (max-width:1023px) {
    .place {
        grid-template-columns:  minmax(340px, 440px) minmax(352px, 456px);
        gap: 48px 28px;
    }
}

@media screen and (max-width:767px) {
    .place {
        grid-template-columns:   minmax(320px, 1fr) ;
        justify-items: start;
        gap: 32px 0;
    }
}