.popup__close-btn{
    width: 32px;
    height: 32px;
    position: absolute;
    top: -41px;
    right: -37px;
    background-image: url("../../../images/Close_Icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
@media screen and (max-width:767px){
    .popup__close-btn{
        width: 20px;
        height: 20px;
        top:-37px;
        right: 0;
    }

}
.popup__close-btn:hover{
    opacity: 0.6;
}
